/* Write your CSS here */
.popup-bg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.paymer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.paymet-type-button {
  border: 1px solid #bfbfbf;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: transparent;
  width: 30%;
  cursor: pointer;
}
.paymet-type-click-button {
  color: #fff;
  background-color: #fc6130;
  border: 1px solid #fc6130;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  width: 30%;
  cursor: pointer;
}
.confirm-order {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 10px;
  border: none;
  border-radius: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  outline: none;
  cursor: pointer;
}
.cart-summary-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.order-total-value {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  margin-bottom: 2px;
}

@media screen and (min-width: 768px) {
  .order-total-value {
    font-size: 32px;
  }
}

.order-total-label {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .order-total-label {
    font-size: 24px;
  }
}

.total-items {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 12px;
  margin-top: 2px;
}

@media screen and (min-width: 768px) {
  .total-items {
    font-size: 16px;
  }
}

.checkout-button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  border: none;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  outline: none;
  cursor: pointer;
  width: 60%;
}

@media screen and (min-width: 768px) {
  .d-lg-none {
    display: none;
  }
  .checkout-button {
    width: 40%;
  }
  .popup-bg-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
